{% extends 'base.html' %}

{% block header %}
  <img src="../static/img/桜.jpg" class="img-fluid" style="max-width: 100%; , height: auto; ">
{% endblock header %}

{% block content %}
    <div class="card card-blog card-plain" style="padding:5%;">
        <div class="content" style="padding:20px; border: solid 1px black;">
            <div class="title-area text-center list-inline">
                <li><h2 class="card-title">{{object.title}}</h2></li>
                <li><h6 class="card-date">{{object.postdate}}</h6></li>
            </div>
            <hr class="info" style="width:70%;">
            {% load markdown_extras %}
            <a class="card-title"><h4 id="content">{{object.content | markdown | safe | linebreaks | urlize}}</h4></a>
            <a href="{% url 'topic' object.category %} "><h5 class="tex-warning card-category">{{object.category}}</h5></a>
            <a href="{% url 'home' %}#article" class="btn btn-primary">一覧へ</a>
            {% comment %} <a href="{% url 'update' object.pk %}" class="btn btn-primary">編集する</a>
            <a href="{% url 'delete' object.pk %}" class="btn btn-primary">削除する</a> {% endcomment %}
        </div>
    </div>
{% endblock content %}