{% extends 'base.html' %}

{% block header %}
  <img src="../static/img/桜.jpg" class="img-fluid" style="max-width: 100%; , height: auto; ">
{% endblock header %}

{% block content %}
    <div class="title-area text-center">
        <h2>Ramenn</h2>
        <div class="separator separator-danger">✻</div>
        <h3 class="description">最近食べたラーメン</h3>
    </div>

    <div class="container section">
        {% for item in object_list %}
            <div class="card card-blog card-plain col-sm-4" style="padding:10px; ">
                <div class="content text-center" style="border: solid 1px black;padding:10px;">
                    <img src="../{{item.picture}}" />
                    <h3>{{item.title}}</h3>
                    <hr class="info" style="width:70%;">
                    <h5 class="">{{item.content}}</h5>
                    <h6 class="card-date">{{item.postdate}}</h6>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}