{% extends 'base.html' %}

{% block header %}
  <img src="../static/img/桜.jpg" class="img-fluid" style="max-width: 100%; , height: auto; ">
{% endblock header %}

{% block content %}
    <div class="title-area text-center">
        <h2>Program Skills</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description">Panarが過去に学んだことがあるプログラム言語やフレームワークを紹介します。</p>
    </div>
    <div class="container">
        <div class="col-md-4">
            <div class="info-icon">
                <div class="icon text-danger">
                    <i class="pe-7s-graph1"></i>
                </div>
                <h3>C</h3>
                <p class="description">初めて学んだプログラム言語。大学1年生の後期に軽く触れたがその時は全く理解できなかった。その後素数大富豪のために学ぼうと思い、2年生の4月にdotinstallで学びなおす。</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-icon">
                <div class="icon text-danger">
                    <i class="pe-7s-note2"></i>
                </div>
                <h3>Javascript</h3>
                <p class="description">素数ゲームのサイトを作成するために2年生の3月に学び始める。その後VueやReact、ReactNativeなども学びアプリなどを作るが、がGithubとの連携がうまくいかず作成したものは公開していない。</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-icon">
                <div class="icon text-danger">
                    <i class="pe-7s-music"></i>
                </div>
                <h3>Python</h3>
                <p class="description">素数大富豪のために学び始めた言語。課金版paizaで学ぶ。BrythonやDjango、PyGame、DiscordBotやLINEのBotなどを作成。</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-icon">
                <div class="icon text-danger">
                    <i class="pe-7s-graph1"></i>
                </div>
                <h3>HTML &amp; CSS</h3>
                <p class="description">素数ゲームを作成するためにPythonと同じタイミングで学び始める。大学1年の時にやった覚えもあるがJavaScriptと一緒に本格的に学んだ。BootstrapとSassは既習。</p>
            </div>
        </div>
    </div>

    <div class="title-area text-center">
        <h2>Deliverable</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description">Panarが今までに作成してきたプログラム一覧です。詳しくは<a href="https://github.com/paner28" class="text-info">GitHub</a>をご覧ください</p>
    </div>

    <div class="team container">
        <div class="row" style="padding:15px;">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-member">
                            <a href="https://paner28.github.io/primegame/">
                                <div class="content">
                                    <div class="avatar avatar-danger">
                                        <img alt="..." class="img-circle" src="../static/img/primegame.jpg"/>
                                    </div>
                                    <div class="description">
                                        <h3 class="title">素数ゲーム</h3>
                                        <p class="small-text">21 Nov 2020</p>
                                        <p class="description">小さい素数を覚えたいという動機から作成されたゲームです。数字をタップして、素数であれば色が変わるといういたてシンプルなルールです。ステージをクリアしたときに1つの絵のようになるのが楽しいです。</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-member">
                            <div class="content">
                                <a href="https://paner28.github.io/primehunter/">
                                    <div class="avatar avatar-danger">
                                        <img alt="..." class="img-circle" src="../static/img/primehunter.jpg"/>
                                    </div>
                                    <div class="description">
                                        <h3 class="title">Prime Hunter</h3>
                                        <p class="small-text">9 Apr 2020</p>
                                        <p class="description">読んで字のごとく素数を探すアプリです。普段はコマンドプロンプトで実行していますが、それをウェブ上で行いたいという気持ちとBrythonで遊びたいということから作成しました。4つ子素数の探索機能など、まだまだ修正箇所はあります。</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-member">
                            <div class="content">
                                <a href="https://paner28.github.io/quattron/">
                                    <div class="avatar avatar-danger">
                                        <img class="img-circle" src="../static/img/quatron.jpg"/>
                                    </div>
                                    <div class="description">
                                        <h3 class="title">クワトろん</h3>
                                        <p class="small-text">2 Aug 2020 </p>
                                        <p class="description">Prime Hunterを作成したはいいものの、それを覚えるための物を作りたいと思い、4つ子素数に限って覚えるための物を作りました。strageを使うなど少しずつレベルアップしているはず。素数のリストが手入力なので要検討。</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}