{% extends 'base.html' %}

{% block header %}
  <img src="../static/img/桜.jpg" class="img-fluid" style="max-width: 100%; , height: auto; ">
{% endblock header %}

{% block content %}
    <div class="title-area text-center">
        <h2>Playing Sports</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description">Panarが最近行っている運動</p>
        <h3 class="description text-info">ウォーキング</h3>
        <h5 class="description">毎日1万歩を目指して歩いています</h5>
        <h3 class="description text-info">卓球</h3>
    </div>

    <div class="title-area text-center">
        <h2>Wattching Sports</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description">Panarが興味のあるスポーツです</p>
        <h4 class="description">プロ野球(巨人)、高校野球、サッカー、相撲、バイクレース、カーリング</h4>
    </div>

{% endblock content %}