{% extends 'base.html' %}

{% block header %}
  <img src="../static/img/桜.jpg" class="img-fluid" style="max-width: 100%; , height: auto; ">
{% endblock header %}

{% block content %}
    <div class="title-area text-center list-inline">
        <li><h2>Articles</h2></li>
        <li><h3>({{parameter}})</h3></li>
        <div class="separator separator-danger">✻</div>
    </div>

    <div class="container section">
        {% for item in object_list %}
        {% if item.category == parameter %}
            <div class="card card-blog card-plain col-sm-4" style="padding:10px; ">
                <div class="content" style="border: solid 1px black;padding:10px;">
                    <h6 class="card-date">{{item.postdate}} (更新:{{item.editdate}})</h6>
                    <a href="{% url 'detail' item.pk %}" class="card-title"><h3>{{item.title}}</h3></a>
                    <hr class="info" style="width:70%;">
                    <h5 class="card-category">{{item.category}}</h5>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="container section">
        <a href="{% url 'home' %}#article" class="btn btn-primary">一覧へ</a>
    </div>

{% endblock content %}